<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--error-->
    <meta charset="UTF-8">
    <title>Title</title>
<!--<link type="text/css" style="" src=""></link>-->
    <link href="/css/base.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<th th:each="a:${map}" th:text="${a.key}"></th>
<th th:each="a:${map}" th:text="${a.value}"></th>
<table>
    <tr th:each="a:${map}">
    <td th:text="${a.key}"></td>
    <td th:text="${a.value}"></td>
    </tr>
</table>
</body>
</html>